{% extends "base.html" %}
   <!--  -->
{% block contenu%}
<div class="mt-2">
  <a href="{% url 'new_tontine' %}" class="btn btn-info">Ajouter Nouveau tontine</a>
</div>
<div class="container">
  <h2>Les Groupes de Tontine</h2>

  <table class="table table-bordered">
    {% if tontines %}
        <thead class="thead-dark">
            <tr class="{% cycle 'table-dark' 'table-info' 'table-light' 'table-light' %}">
                <th scope="col"> Nom:</th>
                <th scope="col">Montant</th>
                <th scope="col">Paiement</th>
                <th scope="col">Description</th>
                <th scope="col">Debut</th>
                <th scope="col">Fin</th>
            </tr>
        </thead>
        <tbody>
            {% for tontine in tontines %}
                <tr class="{% cycle 'table-light' 'table-light' 'table-light' 'table-info' 'table-light' %}">
                    <td><a href="{% url 'details'  tontine.id %}"> {{ tontine.nom }} </a></td>
                    <td>{{ tontine.cotisation_amount }}</td>
                    <td>{{ tontine.frequence_paiement  }}</td>
                    <td>{{ tontine.description }}</td>
                    <td>{{ tontine.date_debut }}</td>
                    <td>{{ tontine.date_fin }}</td>
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <tbody>
            <tr>
                <td colspan="6">Aucune tontine disponible.</td>
            </tr>
        </tbody>
    {% endif %}
</table>

</div>

{% endblock %}

